<%- include('../partials/header.ejs') %>

<a href="/products" class="btn btn-outline-dark mb-4">Back</a>
<h3>Edit Product</h3>
<form action="/products/<%=product.id%>?_method=PATCH" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" placeholder="product name" id="name"
            value="<%= product.name %> ">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price ($)</label>
        <input type="number" class="form-control" name="price" id="price" placeholder="product price" min="0"
            step="0.01" value="<%=product.price%>">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" aria-label="Default select example" name="category" id="category">
            <option>Choose category</option>
            <option <% if(product.category == "vegetable") { %> selected <% } %> value=" vegetable">Vegetable</option>
            <option <% if(product.category == "dairy") { %> selected <% } %> value="dairy">Dairy</option>
            <option <% if(product.category == "fruit") { %> selected <% } %> value="fruit">Fruit</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('../partials/footer.ejs') %>